.banner {
  margin-bottom: 30px;
  position: relative;
  padding-top: 70px;
  width: 100%;
  background-image: url("../../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center -20px;
  &__title {
    box-sizing: border-box;
    margin: auto;
    padding: 0 30px;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
  }
  &__list {
    .list-reset();
    padding-top: 121px;
  }
}

.goods-list__item-link {
  display: block;
  padding: 28px 184px 28px 30px;
  font-size: 19px;
  font-weight: @font_weight_bold;
  line-height: 24px;
  color: white;
  .text-d_none();
  &--interior {
    background-color: @seafoam_blue;
  }
  &--toy {
    background-color: @greeny_blue;
  }
}
