.banner {
  position: relative;
  margin-bottom: 27px;
  background-color: #f9f9f9;

  @media (min-width: @tablet_width) {
    margin-bottom: 44px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -12px;
      height: 24px;
      background-size: 768px 24px;
      background-image: url("../img/decor/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
    }
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 123px;

    &::after {
      bottom: -17px;
      height: 34px;
      background-size: 1150px 34px;
    }
  }
}

.banner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 489px;
  padding-top: 70px;
  box-sizing: border-box;
  background-image: url("../img/banner/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  background-size: 575px 373px;

  @media (min-resolution: @retina_dpi), (min-resolution: @retina_dppx) {
    background-image: url("../img/banner/hero-mobile@2x.jpg");
  }

  @media (min-width: @tablet_width) {
    padding-top: 93px;
    background-image: url("../img/banner/hero-tablet@1x.jpg");
    background-position: center -67px;
    background-size: 1150px 755px;

    @media (min-resolution: @retina_dpi), (min-resolution: @retina_dppx) {
      background-image: url("../img/banner/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop_width) {
    background-image: url("../img/banner/hero-desktop@1x.jpg");
    background-size: 1150px 770px;

    @media (min-resolution: @retina_dpi), (min-resolution: @retina_dppx) {
      background-image: url("../img/banner/hero-desktop@2x.jpg");
    }
  }
}

.banner__title {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: auto;
  padding: 0 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet_width) {
    width: 85%;
    padding: 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop_width) {
    max-width: 1045px;
    font-size: 53px;
    line-height: 57px;
  }
}

.banner__list {
  .list-reset();
}

.goods-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet_width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 375px 50px 0 50px;
  }

  @media (min-width: @desktop_width) {
    padding-top: 360px;
  }
}

.goods-list__item {
  flex-grow: 1;

  @media (min-width: @tablet_width) {
    width: 50%;
  }
}

.goods-list__link {
  display: block;
  height: 100%;
  padding: 24px 184px 31px 30px;
  box-sizing: border-box;
  font-size: 19px;
  font-weight: @font_weight_bold;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.2s ease-in-out,
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: translateY(-5px);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active::after {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.3;
  }

  @media (min-width: @tablet_width) {
    padding: 27px 184px 33px 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

.goods-list__link--interior,
.goods-list__link--toy {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 27px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
}

.goods-list__link--interior {
  background-color: @seafoam_blue;

  &::after {
    background-image: url("../img/decor/icon-interior.svg");
  }

  &:hover {
    box-shadow: 0 5px 0 @seafoam_blue;
  }
}

.goods-list__link--toy {
  background-color: @greeny_blue;

  &::after {
    background-image: url("../img/decor/icon-toy.svg");
  }

  &:hover {
    box-shadow: 0 10px 0 @greeny_blue;
  }
}
