.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: @font_weight_bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: @color_text;
  border: 2px solid @btn_border;
  background-color: @btn_bg;
  cursor: pointer;
}

.btn__production {
  margin-top: 30px;
}

.btn__modal-add {
  color: #ffffff;
  border: none;
  background-color: @seafoam_blue;
}
