.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: @font_weight_bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: @color_text;
  border: 2px solid @btn_border;
  background-color: @btn_bg;
  transition: color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);
    background-color: @btn_border;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.btn__goods-main {
  width: 100%;
  max-width: 300px;

  @media (min-width: @tablet_width) {
    align-self: flex-start;
    width: 289px;
  }

  @media (min-width: @desktop_width) {
    width: 292px;
    margin-left: 175px;
  }
}

.btn__comment {
  display: block;
  width: 260px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet_width) {
    position: absolute;
    top: 77px;
    right: 50px;
    order: -1;
    width: 175px;
  }

  @media (min-width: @desktop_width) {
    top: 8px;
  }
}

.btn__contacts {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet_width) {
    width: 230px;
  }

  @media (min-width: @desktop_width) {
    margin: 0;
    margin-left: 175px;
  }
}

.btn__production {
  width: 74%;
  margin: 0 auto;
  margin-top: 25px;

  @media (min-width: @tablet_width) {
    width: 88%;
    margin-top: 35px;
  }

  @media (min-width: @desktop_width) {
    width: 230px;
    margin: 60px;
    margin-top: 47px;
    margin-left: auto;
  }
}

.btn__form-feedback {
  max-width: 260px;
  margin: 0 auto;
  margin-top: 31px;

  @media (min-width: @tablet_width) {
    max-width: 230px;
    margin: 0;
    margin-right: auto;
  }

  @media (min-width: @desktop_width) {
    margin-left: 175px;
  }
}

.btn__modal-add {
  color: #ffffff;
  border: none;
  background-color: @seafoam_blue;
}
