.catalog {
  margin-bottom: 58px;

  @media (min-width: @tablet_width) {
    margin-bottom: 63px;
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 107px;
  }
}

.catalog__wrapper {
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: @tablet_width) {
    padding: 0 50px;
  }
}
