.comments {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding: 0 30px;
  padding-bottom: 51px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background-image: url("../img/decor/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 300px 6px;
  }

  @media (min-width: @tablet_width) {
    margin-bottom: 62px;
    padding: 0 50px;
    padding-top: 78px;
    padding-bottom: 130px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: 350px 455px;
      background-image: url("../img/comments/review@1x.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: @retina_dpi), (min-resolution: @retina_dppx) {
        background-image: url("../img/comments/review@2x.jpg");
      }
    }

    &::after {
      height: 17px;
      left: -40px;
      background-size: 760px 17px;
    }
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 140px;
    padding-top: 0;
    padding-left: 225px;
    padding-bottom: 187px;

    &::before {
      left: 49px;
      top: -70px;
    }

    &::after {
      left: 50px;
      right: 50px;
      height: 23px;
      background-size: 1150px 23px;
    }
  }
}

.comments__title {
  margin: 0;
  margin-bottom: 25px;
  .h2-title();

  @media (min-width: @tablet_width) {
    display: inline-block;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop_width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.comments__list {
  @media (min-width: @tablet_width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}

.comments__item {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet_width) {
    margin-bottom: 0;
  }
}

.comments__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  @media (min-width: @tablet_width) {
    font-size: 17px;
  }

  @media (min-width: @desktop_width) {
    margin-right: 85px;
  }
}

.comments__auth-name {
  display: block;
  margin-top: 27px;
  font-size: 17px;
  font-weight: @font_weight_bold;
  font-style: normal;

  @media (min-width: @tablet_width) {
    margin-top: 57px;
    font-size: 18px;
  }

  @media (min-width: @desktop_width) {
    margin-top: 38px;
  }
}

.comments__auth-mail {
  font-size: 17px;
  line-height: 30px;
  color: @color_text;
  text-decoration: none;
}

.comments__toggles {
  margin: 0 auto;
  margin-bottom: 37px;

  @media (min-width: @tablet_width) {
    margin-bottom: 0;
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  width: 260px;
  max-width: 320px;


  @media (min-width: @tablet_width) {
    position: absolute;
    right: 0;
    bottom: 3px;
    width: 175px;
  }
}

.slider__toggle {
  display: inline-block;
  padding: 25px 67px 25px 61px;
  vertical-align: middle;
  border: 1px solid @color_border;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("../img/decor/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--next {
    background-image: url("../img/decor/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: @tablet_width) {
    padding: 25px 43px;
    border: none;
  }
}
