.contacts {
  color: @color_text;
  &__title {
    margin: 0;
    margin-bottom: 32px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: @font_weight_bold;
    color: black;
  }
  &__mail {
    margin: 0;
    margin-bottom: 37px;
    padding: 0 30px;
  }
  &__link {
    margin-left: 25px;
    padding-bottom: 5px;
    text-decoration: none;
    color: @color_text;
    border-bottom: 2px solid lightgreen;
  }
  &__block {
    display: flex;
    margin-bottom: 37px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
  }
  &__address-title {
    margin-right: 30px;
  }
  &__map {
    margin-bottom: 37px;
  }
}
