.contacts {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  color: @color_text;

  @media (min-width: @tablet_width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop_width) {
    margin: 0 auto;
    margin-bottom: 105px;
  }
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: @tablet_width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop_width) {
    display: block;
    width: 305px;
    margin: 0;
    margin-left: 170px;
    margin-bottom: 80px;
    padding: 0;
  }
}

.contacts__info-title {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: @font_weight_bold;
  color: #000000;

  @media (min-width: @tablet_width) {
    position: relative;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url("../img/decor/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 48px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -8px;
      left: -107px;
    }
  }
}

.contacts__info-mail {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet_width) {
    font-size: 17px;
  }

  @media (min-width: @desktop_width) {
    margin-left: 5px;
    margin-bottom: 32px;
  }
}

.contacts__mail {
  margin-left: 25px;
  padding-bottom: 4px;
  text-decoration: none;
  color: @color_text;
  border-bottom: 1px solid @seafoam_blue;
  transition: color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: @greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet_width) {
    margin-left: 18px;
    padding-bottom: 3px;
  }
}

.contacts__info-address {
  display: flex;
  margin-bottom: 37px;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;

  @media (min-width: @tablet_width) {
    width: 335px;
    font-size: 17px;
  }

  @media (min-width: @desktop_width) {
    margin-left: 5px;
  }
}

.contacts__address {
  margin-left: 31px;

  @media (min-width: @tablet_width) {
    margin-left: 25px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: @tablet_width) {
    margin-top: 20px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop_width) {
    width: 525px;
    margin: 0;
    margin-left: auto;
    margin-top: -69px;
  }
}

.contacts__map img {
  display: block;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-height: 457px;

  @media (min-width: @desktop_width) {
    width: 525px;
  }
}
