.page-footer {
  margin-top: 37px;
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: @footer_bg;
}

.social {
  border-bottom: 1px solid #e5e5e5;
  &__list {
    display: flex;
    justify-content: space-between;
    width: 140px;
    .list-reset();
    margin: 0 auto;
    padding-bottom: 27px;
  }
  &__item {
    display: flex;
  }
  &__link {
    display: flex;
    margin: auto;
  }
}

.footer__copyright {
  padding-top: 22px;
}

.copyright {
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 182px;
    font-size: 19px;
    line-height: 1;
    font-weight: @font_weight_bold;
    text-decoration: none;
    color: #000000;
  }
}
