.page-footer {
  margin-top: 38px;
  padding-top: 27px;
  padding-bottom: 23px;
  background-color: @footer_bg;

  @media (min-width: @tablet_width) {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop_width) {
    margin-top: 50px;
    padding-top: 48px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: @tablet_width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
}

.page-footer__logo {
  display: none;
  transition: 0.2s ease-in-out;

  svg {
    transition: 0.2s ease-in-out;
  }

  &:hover svg,
  &:focus svg {
    fill: @greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet_width) {
    display: block;
    margin-right: 76px;
  }
}

.social {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet_width) {
    border: none;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 142px;
  .list-reset();
  margin: 0 auto;
  padding-bottom: 27px;

  @media (min-width: @tablet_width) {
    padding: 0;
    padding-top: 9px;
  }
}

.social__item {
  display: flex;
}

.social__link {
  display: flex;
  margin: auto;
  transition: 0.2s ease-in-out;

  svg {
    transition: 0.2s ease-in-out;
  }

  &:hover svg,
  &:focus svg {
    fill: @greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  padding-top: 20px;

  @media (min-width: @tablet_width) {
    padding: 0;
    padding-top: 6px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 182px;
  font-size: 19px;
  line-height: 1;
  font-weight: @font_weight_bold;
  text-decoration: none;
  color: #000000;
  transition: 0.2s ease-in-out;

  svg {
    transition: 0.2s ease-in-out;
    fill: @seafoam_blue;
  }

  &:hover svg,
  &:focus svg {
    fill: @greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }
}
