.goods-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0 30px;
  padding-bottom: 42px;
  color: @color_text;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-image: url("../img/decor/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 320px 8px;
  }

  @media (min-width: @tablet_width) {
    margin-bottom: 49px;
    padding: 0 50px;
    padding-bottom: 70px;

    &::after {
      height: 17px;
      background-size: 728px 17px;
    }
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 60px;
    padding-bottom: 95px;

    &::after {
      height: 22px;
      background-size: 950px 22px;
    }
  }
}

.goods-main__title-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;

  @media (min-width: @tablet_width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 44px;
  }

  @media (min-width: @desktop_width) {
    position: relative;
    z-index: 10;
    flex-direction: row-reverse;
    align-self: flex-start;
    width: 650px;
    padding-left: 47px;
  }
}

.goods-main__title {
  margin: 0;
  margin-bottom: 5px;
  .h2-title();

  @media (min-width: @tablet_width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop_width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.goods-main__item-week {
  font-size: 17px;
  line-height: 20px;
  font-weight: @font_weight_bold;
  color: @seafoam_blue;
  text-transform: uppercase;

  @media (min-width: @tablet_width) {
    width: 124px;
    text-align: center;
  }

  @media (min-width: @desktop_width) {
    width: 70px;
    padding-right: 0;
  }
}

.goods-main__desc {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet_width) {
    width: 300px;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop_width) {
    margin-left: 175px;
    margin-bottom: 47px;
  }
}

.goods-main__table {
  margin-bottom: 25px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: @tablet_width) {
    align-self: flex-start;
    width: 287px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop_width) {
    margin-left: 175px;
    margin-bottom: 108px;
    font-size: 15px;
    line-height: 20px;
  }
}

.table__td {
  padding: 10px 5px;
  border-bottom: 1px solid @color_border;

  @media (min-width: @tablet_width) {
    padding: 9px 0;
  }

  @media (min-width: @desktop_width) {
    padding: 7px 0 13px;
  }
}

.goods-main__img {
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: @tablet_width) {
    position: absolute;
    top: 107px;
    right: 50px;
  }

  @media (min-width: @desktop_width) {
    top: -54px;
    order: 2;
    margin: 0;
  }
}

.goods-main__img img {
  display: block;
  width: 260px;
  height: 315px;

  @media (min-width: @tablet_width) {
    width: 333px;
    height: auto;
  }

  @media (min-width: @desktop_width) {
    width: 525px;
  }
}

.goods-main__price {
  width: 260px;
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: @font_weight_bold;

  @media (min-width: @tablet_width) {
    align-self: flex-start;
    width: 287px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop_width) {
    margin-left: 178px;
  }
}
