.navigation {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;

  @media (min-width: @tablet_width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.navigation__logo {
  order: 0;
  border-bottom: 1px solid @color_border;

  @media (min-width: @tablet_width) {
    flex-grow: 1;
    background-color: #ffffff;
  }

  @media (min-width: @desktop_width) {
    display: flex;
    flex-grow: 0;
    order: 1;
  }
}

.navigation__logo-wrapper {
  display: block;
  text-align: center;
  padding: 21px 0 17px;
  transition: opacity 0.2s ease-in-out;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet_width) {
    padding: 21px 48px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop_width) {
    margin: auto;
    padding: 7px 0;
  }
}

.navigation__logo-wrapper img {
  width: 86px;
  height: 35px;

  @media (min-width: @tablet_width) {
    display: block;
    width: 112px;
    height: auto;
  }

  @media (min-width: @desktop_width) {
    width: 149px;
  }
}

.navigation__toggle {
  position: absolute;
  top: 39px;
  right: 27px;
  width: 20px;
  height: 14px;
  padding: 15px;
  border: none;
  background-color: transparent;
  background-image: url("../img/decor/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);

  @media (min-width: @tablet_width) {
    display: none;
  }
}

.navigation--opened .navigation__toggle {
  width: 21px;
  height: 20px;
  background-image: url("../img/decor/icon-menu-close.svg");
}

.navigation__list a {
  transition: 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__list {
  .list-reset();

  @media (min-width: @tablet_width) {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: @mobile_width_only) {
  .navigation {
    .site-list {
      display: none;
    }

    .user-list {
      display: none;
    }
  }

  .navigation--opened {
    .site-list {
      display: block;
    }

    .user-list {
      display: block;
    }
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs .site-list,
  .navigation--nojs .user-list {
    display: block;
  }
}
