.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: 0 auto;

  @media (min-width: @tablet_width) {
    flex-direction: row;
  }
}

.navigation__logo-wrapper {
  position: relative;
  display: flex;

  @media (min-width: @tablet_width) {
    order: 0;
  }

  @media (min-width: @desktop_width) {
    order: 1;
  }
}

.navigation__logo {
  display: flex;
  justify-content: center;
  height: 80px;
  margin: auto;

  @media (min-width: @tablet_width) {
    height: 88px;
  }
}

.logo__img {
  display: none;

  &--mobile {
    display: block;
  }

  @media (min-width: @tablet_width) {
    display: none;

    &--tablet {
      display: block;
    }
  }

  @media (min-width: @desktop_width) {
    display: none;

    &--desk {
      display: block;
    }
  }
}

.navigation__toggle {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 20px;
  height: 14px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transform: translateY(-50%);

  &--open {
    background-image: url("../img/decor/icon-menu-open.svg");
  }

  &--close {
    display: none;
    width: 21px;
    height: 20px;
    background-image: url("../../img/decor/icon-menu-close.svg");
  }

  @media (min-width: @tablet_width) {
    display: none;
  }
}

.navigation__list {
  width: 320px;
  // display: none;
  .list-reset();
  margin: 0 auto;
}

.site-list {
  @media (min-width: @tablet_width) {
    order: 2;
  }

  @media (min-width: @desktop_width) {
    order: 0;
  }
}

.user-list {
  @media (min-width: @tablet_width) {
    order: 1;
  }

  @media (min-width: @desktop_width) {
    order: 2;
  }
}

.site-list__item {
  &--off {
    display: none;

    @media (min-width: @desktop_width) {
      display: block;
    }
  }
}

.site-list__item-link {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 27px 74px;
  font-size: 17px;
  line-height: 24px;
  font-weight: @font_weight_bold;
  color: #000000;
  vertical-align: middle;
  text-decoration: none;
}

.search {
  display: flex;
}

.search__label {
  padding: 30px;
  width: 18px;
  height: 18px;
  background-image: url("../img/decor/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search__input {
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  font-family: @font_family;
  font-weight: @font_weight_bold;
  border: none;
  background-color: transparent;
}

.search__input::placeholder {
  font-size: 17px;
  line-height: 24px;
  font-weight: @font_weight_bold;
  color: black;
}

.user-list__item-link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 27px 74px;
  font-size: 17px;
  line-height: 24px;
  font-weight: @font_weight_bold;
  color: #000000;
  vertical-align: middle;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 21px;
    height: 20px;
    background-image: url("../img/decor/icon-cart.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}

.header__delivery {
  position: absolute;
  bottom: -39px;
  right: 30px;
  z-index: 5;
  display: none;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: @font_weight_normal;
  color: @color_text;

  @media (min-width: @tablet_width) {
    display: block;
  }
}
