.page-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 71px 0 75px;
  font-size: 27px;
  line-height: 30px;
  font-weight: @font_weight_bold;
  color: #000000;
  text-align: center;
  background-color: @page_title_bg;

  @media (min-width: @tablet_width) {
    position: relative;
    margin-bottom: 66px;
    padding: 36px 0 92px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 24px;
      background-size: 768px 24px;
      background-image: url("../img/decor/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
    }
  }

  @media (min-width: @desktop_width) {
    margin-bottom: 121px;
    padding-top: 33px;
    padding-bottom: 112px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      background-size: 1000px 24px;
    }
  }
}
