.page-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 76px 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: @font_weight_bold;
  color: #000000;
  text-align: center;
  background-color: @page_title_bg;
}
