// color
@seafoam_blue: #63d1bb; //светлый оттенок
@greeny_blue: #56c3b2; //темный оттенок
@color_text: #444444;
@footer_bg: #f1f1f1;

// body
@body_bg: #ffffff;
@body_width_mobile: 320px;

// font
@font_family: "OpenSans", "Arial", sans-serif;
@font_weight_regular: normal;
@font_weight_bold: bold;

// logo
@header-logo-bg: rgba(255, 255, 255, 1);

// h1-h6, p
@margin_0: 0;
